body{
    background-color: #2FFF9E;
}
    h1{
        font-size:60;
        color:azure;
        text-align: center;
    }
    ul{
        color:azure;
        font-size:20;
    }
    ul2{
        color:azure;
        font-size:20;
    }